/* rem and em do NOT depend on html font-size in media wueries! Instead, 1rem = 1em = 16px */

/* BELOW 1344PX (Smaller desktops */
@media (max-width: 84em) {
  .img1-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .img2-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  .best-seller {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container-foot {
    display: block;
  }

  .social-media {
    display: block;
  }

  .icons {
    margin-left: 50rem;
  }
}
